<!DOCTYPE html>
<html lang="en">
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 -->		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css">
	<head>
		<title>New News</title>
	</head>
	<body>
		{{{ body }}}

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/app.js"></script>
	</body>
</html>
