
body {
	margin: 0 auto;
	background-image: url('../img/white_wall.png');
}

.black {
	color: black !important;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#noteEmpty {
	padding: 10px;
	width: 100%;
	height: 50px;
	border: solid 1px red;
	border-radius: 5px;
	margin-bottom: 10px;
}

.noteSummary {
	padding: 10px;
	width: 100%;
	min-height: 50px;
	border: solid 1px black;
	border-radius: 5px;
	margin-bottom: 10px;
}

.yellow {
	background-color: #c7c477;
}
.border {
	border: 1px solid #B3B6BF !important;
}
.darkgrey {
	background-color: #B3B6BF !important;
	color: white !important;
}
.panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageholder {
	display: block;
    margin: 0 auto;
	background-image: url(../img/newspaper.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 400px;
}

.content {
	margin-top: 50px;
	margin: 0 auto;

}
.articles {

margin: 10px;

}

.article {
	padding: 10px;
  	margin: 10px auto;
  	border: solid 1px black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#note {
    float: right;

}
